<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars list</title>
</head>
<body>
    <h1>Car list</h1>
        <div>
            <table border="1">
                <tr>
                    <th>Type</th>
                    <th>Model</th>
                    <th>price</th>
                </tr>
                <tr th:each="car : ${cars}">
                    <td th:text="${car.getType()}">Type</td>
                    <td th:text="${car.getModel()}">Model</td>
                    <td th:text="${car.getPrice()}">Price</td>
                </tr>
            </table>
        </div>
    </body>
</html>